# disable directory browsing
Options All -Indexes

# secure htaccess file
<Files .htaccess>
   order allow,deny
   deny from all
</Files>

# Replace your-domain for your domain and folder
RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://your-domain.com/folder/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://www.your-domain.com/folder/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https://your-domain.com/folder/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https://www.your-domain.com/folder/.*$ [NC]
RewriteRule .*\.(xls|xlsx)$ http://your-domain.com/folder/upload/reports/excel/ [R,NC]
RewriteRule .*\.(xls|xlsx)$ http://www.your-domain.com/folder/upload/reports/excel/ [R,NC]
RewriteRule .*\.(xls|xlsx)$ https://your-domain.com/folder/upload/reports/excel/ [R,NC]
RewriteRule .*\.(xls|xlsx)$ https://www.your-domain.com/folder/upload/reports/excel/ [R,NC]